$dark-purple: #7483cf;
$light-purple: #5b57a1;
$button-border-purple: #bc97f7;
$deep-purple: #4143b0;
$light-grey: #ccc;
$cornflower-blue: cornflowerblue;
$sea-green: #3CB371;
$light-sea-green: lighten($sea-green, 20%);
$new-button-border: lighten($sea-green, 25%);
