$content_width: 500px;
$main-margin: 60px auto 0 auto;
$header-margin: 60px auto 0 60px;
$footer-margin: 0 auto;

body {
  font-family: 'BenchNine', sans-serif;
}

main, aside {
  margin: $main-margin;
  width: $content_width;
}

header {
  margin: $header-margin;
  float: left;
}

footer {
  width: $content-width;
  margin: $footer-margin;
}

h1, h2, footer {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 3em;
}

h3 {
  color: $cornflower-blue;
}

.signature {
  font-family: 'La Belle Aurore', cursive;
}


@media screen and (max-width: 915px) {
  header {
    float: none;
    width: $content-width;
    margin: $main-margin;
  }

  header, footer, main {
    padding-left: 40px;
  }
}
