{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
  {{ block.super }} - Reset Password
{% endblock %}

{% block content %}
<h3>Reset Password</h3>
{% if validlink %}
  <form
    action="{% url 'request.path' %}"
    method="post"
  >
  {% csrf_token %}
  {{ form.as_p }}
    <button type="submit">
      Save New Password</button>
  </form>
{% else %}
  <p>This link is no longer valid.</p>
  <p>Please request a new reset email
    <a href="{% url 'dj-auth:pw_reset_start' %}">
    here</a>
  </p>
{% endif %}
{% endblock %}
