{% extends "user/base_user.html" %}

{% block title %}
  {{ block.super }} -
  {{ profile.user.get_username }}'s Houses
{% endblock %}

{% block content %}
  <h3>{{ profile.user.get_username|title }}'s Houses</h3>

  <p>Choose a house to search for things in it!</p>
  {% if profile.houses.all %}
    <ul>
      {% for house in profile.houses.all %}
        <li>
          <a href='{{ house.get_absolute_url }}'>{{ house.name }}</a>
          <ul>
            <li><a href='{{ house.get_update_url }}'>Update House</a></li>
            <li><a href='{{ house.get_delete_url }}'>Delete House</a></li>
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    You don't have any houses yet!
  {% endif %}
  <a href="{% url 'house_create'%}" class='button'>Create A House</a>
{% endblock %}
