{% extends "user/base_user.html" %}
{% load house_list %}

{% block title %}
  {{ block.super }} -
  My Houses
{% endblock %}

{% block content %}
  <h3>{{ profile.user.get_username|title }}'s Houses</h3>

  <p>Choose a house to search for things in it!</p>
  {% with houses=profile.houses.all %}
  {% if houses or resident_of %}
      {% if houses %}
          <h4>My Houses</h4>
          {% house_list houses %}
      {% endif %}
      {% if resident_of %}
          <h4>Resident of:</h4>
          {% house_list resident_of %}
      {% endif %}
  {% else %}
    <p>You don't have any houses yet!</p>
  {% endif %}
  {% endwith %}
  <a href="{% url 'house_create'%}" class='button'>Create A House</a>
{% endblock %}
