{% extends parent_template|default:"base.html" %}

{% block content %}
  {% block item_content %}
    This is default content.
  {% endblock %}
  {% if is_paginated %}
  <ul>
      <li>
        Page {{ page_obj.number }}
        of {{ paginator.num_pages }}
      </li>
        {% if page_obj.has_previous %}
        <li>
          <a href="{{ previous_page_url }}">Previous</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li>
          <a href="{{ next_page_url }}">Next</a>
        </li>
        {% endif %}
    </ul>
  {% endif %}
{% endblock %}
