{% extends parent_template|default:"base.html" %}

{% block content %}
  {% block item_content %}
    This is default content.
  {% endblock %}

  {% if is_paginated %}
  <ul class='pagination'>
      <li class='page_numbers'>
        Page {{ page_obj.number }}
        of {{ paginator.num_pages }}
      </li>
      {% if first_page_url %}
        <li>
          <a href="{{ first_page_url }}">First</a>
        </li>
      {% endif %}
      {% if previous_page_url %}
        <li>
          <a href="{{ previous_page_url }}">Previous</a>
        </li>
      {% endif %}
      {% if next_page_url %}
        <li>
          <a href="{{ next_page_url }}">Next</a>
        </li>
      {% endif %}
      {% if last_page_url %}
        <li>
          <a href="{{ last_page_url }}">Last</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
