{% extends "item/base_item.html" %}

{% load guardian_tags %}

{% block title %}
  {{ block.super}} - Item list
{% endblock %}

{% block item_content%}
  {% get_obj_perms request.user for house as 'house_perms' %}
  <h3>Item List</h3>
  <ul>
   {% for item in item_list %}
      <li>
        <a href="{{ item.get_absolute_url }}">
          {{ item.name|title }}
        </a>
      <ul class='buttons'>
          {% if "is_resident" in house_perms %}
          <li>
            <a class='button' href="{{ item.get_update_url }}">
              Edit Item
            </a>
          </li>
          <li>
            <a class='button' href="{{ item.get_delete_url }}">
              Delete Item
            </a>
          </li>
          {% endif %}
        </ul>
      </li>
    {% empty %}
     <li><em>There are currently no Items available.</em></li>
    {% endfor %}
  </ul>
  <p>
  {% if "is_resident" in house_perms %}
    <a class='new button' href="{{ house.get_item_create_url }}">New Item</a>
  {% endif %}
  </p>
{% endblock %}
