{% extends "item/base_item.html" %}
{% load guardian_tags %}

{% block title %}
  {{ block.super}} - {{ item.name|title }}
{% endblock %}

{% block item_content %}

{% get_obj_perms request.user for house as 'object_perms' %}

<h3>{{ item.name|title }} </h3>

<p>{{ item.name }} is in the
  <a href='{{ item.place.room.get_absolute_url }}'>{{ item.place.room }}</a> in
  <a href='{{ item.place.get_absolute_url }}'>{{ item.place.name }}</a>
</p>
<p>The location of this item was last updated on {{ item.date_updated|date:"l, F j, Y" }}</p>

{% if "change_house" in object_perms %}
  <ul class='buttons'>
    <li>
      <a class='button' href="{{ item.get_update_url }}">
        Edit Item
      </a>
    </li>
    <li>
      <a class='button' href="{{ item.get_delete_url }}">
        Delete Item
      </a>
    </li>
  </ul>
  <ul class='buttons'>
    <li>
      Create another item in this place:
      <br>
      <a class='new button' href="{{ item.place.get_item_create_url }}">New Item</a>
    </li>
  </ul>
{% endif %}
{% endblock %}
