{% extends parent_template|default:"item/base_item.html" %}

{% block title %}
  {{ block.super}} - Item list
{% endblock %}

{% block item_content%}
  <h3>Item List</h3>
  <ul>
   {% for item in item_list %}
      <li>
        <a href="{{ item.get_absolute_url }}">
          {{ item.name|title }}
        </a>
      <ul class='buttons'>
          {% if perms.item.change_item %}
          <li>
            <a class='button' href="{{ item.get_update_url }}">
              Edit Item
            </a>
          </li>
          {% endif %}
          {% if perms.item.delete_item %}
          <li>
            <a class='button' href="{{ item.get_delete_url }}">
              Delete Item
            </a>
          </li>
          {% endif %}
        </ul>
      </li>
    {% empty %}
     <li><em>There are currently no Items available.</em></li>
    {% endfor %}
  </ul>
  <p>
  {% if perms.item.add_item %}
    <a class='new button' href="{{ house.get_item_create_url }}">New Item</a>
  {% endif %}
  </p>
{% endblock %}
