{% extends parent_template|default:"item/base_item.html" %}

{% block title %}
  {{ block.super}} - Item list
{% endblock %}

{% block content%}
  <h3>Item List</h3>
  <ul>
   {% for item in item_list %}
      <li>
        <a href="{{ item.get_absolute_url }}">
          {{ item.name|title }}
        </a>
      <ul class='buttons'>
          <li>
            <a class='button' href="{{ item.get_update_url }}">
              Edit Item
            </a>
          </li>
          <li>
            <a class='button' href="{{ item.get_delete_url }}">
              Delete Item
            </a>
          </li>
        </ul>
      </li>
    {% empty %}
     <li><em>There are currently no Items available.</em></li>
    {% endfor %}
  </ul>
  <ul>
    <li>
      Page {{ item_list.number }}
      of {{ paginator.num_pages }}
    </li>
    {% if is_paginated %}
      {% if item_list.has_previous %}
      <li>
        <a href="{{ previous_page_url }}">Previous</a>
      </li>
      {% endif %}
      {% if item_list.has_next %}
      <li>
        <a href="{{ next_page_url }}">Next</a>
      </li>
      {% endif %}
    {% endif %}
  </ul>
  <a class='new button' href="{% url 'item_create' %}">New Item</a>
{% endblock %}
