{% extends "item/base_item.html" %}

{% load guardian_tags %}

{% block title %}
  {{ block.super}} - {{ place.name|title }}
{% endblock %}

{% block content %}

{% get_obj_perms request.user for house as 'object_perms' %}
<h3>{{ place.name|title }} </h3>

<p>{{ place.name|title }} is in the <a href="{{ place.room.get_absolute_url }}"> {{ place.room }}</a></p>
<ul class='buttons'>
  {% if "change_house" in object_perms %}
  <li>
    <a class='button' href="{{ place.get_update_url }}">
      Edit Place
    </a>
  </li>
  <li>
    <a class='button' href="{{ place.get_delete_url }}">
      Delete Place
    </a>
  </li>
  {% endif %}
</ul>
<dl>
  <dt>Description</dt>
    <dd>{{ place.description|linebreaks }}
  {% with item_list=place.item_set.all %}
    <dt><h4>Thing{{ item_list|pluralize }} in this place<h4></dt>
    {% for item in item_list %}
    <dd>
      <a href="{{ item.get_absolute_url }}">
      {{ item.name }}
      </a>
    </dd>
    {% endfor %}
</dl>
    {% if not item_list %}
      <p>There are no things in this place</p>
    {% endif %}
  {% endwith %}
<p>
  {% if "change_house" in object_perms %}
  <a href="{{ place.get_item_create_url }}"
    class="button">
  Add A Thing</a></p>
  {% endif %}
{% endblock %}
