{% extends parent_template|default:"item/base_item.html" %}

{% block title %}
  {{ block.super}} - Place list
{% endblock %}

{% block item_content %}
  <ul>
   {% for place in place_list %}
      <li>
        <a href="{{ place.get_absolute_url }}">
          {{ place.name|title }}
        </a>
        in
        <a href="{{ place.room.get_absolute_url }}">
        {{ place.room.name|title}}
        </a>
      </li>
      <ul class='buttons'>
        {% if perms.item.change_place %}
          <li>
            <a class='button' href="{{ place.get_update_url }}">
              Edit Place
            </a>
          </li>
        {% endif %}
        {% if perms.item.delete_place %}
          <li>
            <a class='button' href="{{ place.get_delete_url }}">
              Delete Place
            </a>
          </li>
        {% endif %}
      </ul>
    {% empty %}
     <li><em>There are currently no Places available.</em></li>
    {% endfor %}
  </ul>
  {% if perms.item.add_place %}
  <p>
    <a class='new button' href="{% url 'place_create' %}">New Place</a>
  </p>
  {% endif %}
{% endblock %}
