{% extends "item/base_item.html" %}

{% load guardian_tags %}

{% block title %}
  {{ block.super}} - Place list
{% endblock %}

{% block item_content %}
  {% get_obj_perms request.user for house as 'object_perms' %}
  <h3>Place List</h3>
  <ul>
   {% for place in place_list %}
      <li>
        <a href="{{ place.get_absolute_url }}">
          {{ place.name|title }}
        </a>
        in
        <a href="{{ place.room.get_absolute_url }}">
        {{ place.room.name|title}}
        </a>
      </li>
      <ul class='buttons'>
        {% if "is_resident" in object_perms %}
          <li>
            <a class='button' href="{{ place.get_update_url }}">
              Edit Place
            </a>
          </li>
          <li>
            <a class='button' href="{{ place.get_delete_url }}">
              Delete Place
            </a>
          </li>
        {% endif %}
      </ul>
    {% empty %}
     <li><em>There are currently no Places available.</em></li>
    {% endfor %}
  </ul>
  {% if "is_resident" in object_perms %}
  <p>
    <a class='new button' href="{{ house.get_place_create_url }}">New Place</a>
  </p>
  {% endif %}
{% endblock %}
