{% extends parent_template|default:"item/base_item.html" %}

{% block title %}
  {{ block.super}} - Place list
{% endblock %}

{% block content%}
  <h2>Place List</h2>
  <ul>
   {% for place in place_list %}
      <li>
        <a href="{{ place.get_absolute_url }}">
          {{ place.name|title }}
        </a>
        in
        <a href="{{ place.room.get_absolute_url }}">
        {{ place.room.name|title}}
        </a>
      </li>
      <ul>
          <li>
            <a href="{{ place.get_update_url }}">
              Edit Place
            </a>
          </li>
          <li>
            <a href="{{ place.get_delete_url }}">
              Delete Place
            </a>
          </li>
        </ul>
    {% empty %}
     <li><em>There are currently no Places available.</em></li>
    {% endfor %}
  </ul>
  <a href="{% url 'place_create' %}">New Place</a>
{% endblock %}
