{% extends "item/base_item.html" %}

{% load guardian_tags %}

{% block title %}
  {{ block.super}} - Room list
{% endblock %}

{% block content%}
  {% get_obj_perms request.user for house as 'object_perms' %}
  <h3>Room List</h3>
  <ul>
   {% for room in room_list %}
      <li>
        <a href="{{ room.get_absolute_url }}">
          {{ room.name|title }}
        </a>
      <ul class='buttons'>
            {% if "is_resident" in object_perms %}
            <li>
              <a class="button" href="{{ room.get_update_url }}">
                Edit Room
              </a>
            </li>
            {% endif %}
            {% if "is_resident" in object_perms %}
            <li>
              <a class="button" href="{{ room.get_delete_url }}">
                Delete Room
              </a>
            </li>
          {% endif %}
        </ul>
      </li>
    {% empty %}
     <li><em>There are currently no Rooms available.</em></li>
    {% endfor %}
  </ul>
  {% if "is_resident" in object_perms %}
  <ul class='buttons'>
      <li><a class='new button' href="{{ house.get_room_create_url }}">New Room</a></li>
      <li><a class='new button' href="{{ house.get_place_create_url }}">New Place</a></li>
  </ul>
  {% endif %}
{% endblock %}
