{% extends "item/base_item.html" %}

{% load guardian_tags %}

{% block title %}
  {{ block.super}} - {{ room.name|title }}
{% endblock %}

{% block content %}

{% get_obj_perms request.user for house as 'object_perms' %}

<h3>{{ room.name|title }} </h3>

{% if "change_house" in object_perms %}
  <ul class='buttons'>
    <li>
      <a class="button" href="{{ room.get_update_url }}">
        Edit Room
      </a>
    </li>
    <li>
      <a class="button" href="{{ room.get_delete_url }}">
        Delete Room
      </a>
    </li>
  </ul>
{% endif %}
<dl>
  {% with place_list=room.place_set.all %}
    <dt>Place{{ place_list|pluralize }}</dt>
    {% if place_list %}
      {% for place in place_list %}
        <dd>
          <a href="{{ place.get_absolute_url }}">
          {{ place.name }}
          </a>
        </dd>
      {% endfor %}
    {% endif %}
</dl>
    {% if not place_list %}
      <p>There are no places in this room</p>
    {% endif %}
  {% endwith %}
{% endblock %}
