{% extends parent_template|default:"item/base_item.html" %}

{% block title %}
  {{ block.super}} - {{ room.name|title }}
{% endblock %}

{% block content %}
<h2>{{ room.name|title }} </h2>
<ul class='buttons'>
    <li>
      <a class="button" href="{{ room.get_update_url }}">
        Edit Room
      </a>
    </li>
    <li>
      <a class="button" href="{{ room.get_delete_url }}">
        Delete Room
      </a>
    </li>
  </ul>
<dl>
  <dt>Place{{ room.place_set.count|pluralize }}</dt>
  {% if room.place_set.all %}
  {% for place in room.place_set.all %}
  <dd>
    <a href="{{ place.get_absolute_url }}">
    {{ place.name }}
    </a>
  </dd>
  {% endfor %}
  {% endif %}
</dl>
  {% if not room.place_set.all %}
    <p>There are no places in this room</p>
  {% endif %}
{% endblock %}
