{% extends parent_template|default:"item/base_item.html" %}

{% block title %}
{{ block.super }} - Delete Room
{% endblock %}

{% block content %}
  <div>
    <div>
      <form
        action="{{ room.get_delete_url }}"
        method="post"
      >
      {% csrf_token %}
      <p>
        Are you sure you want to delete
        {{ room.name|title }}?

        This will also delete all the places and things in this room.
        <ul>
          {% for place in room.place_set.all %}
          <li>
            <a href="{{ place.get_absolute_url }}">
            {{ place.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </p>
      <a href="{{ room.get_absolute_url }}">
        Cancel</a>
      <button type="submit">
        Delete Room</button>
      </form>
    </div>
  </div>
{% endblock %}
