{% extends parent_template|default:"item/base_item.html" %}

{% block title %}
  {{ block.super}} - Room list
{% endblock %}

{% block content%}
  <h3>Room List</h3>
  <ul>
   {% for room in room_list %}
      <li>
        <a href="{{ room.get_absolute_url }}">
          {{ room.name|title }}
        </a>
      <ul class='buttons'>
          {% if perms.item.change_room %}
            <li>
              <a class="button" href="{{ room.get_update_url }}">
                Edit Room
              </a>
            </li>
            {% endif %}
            {% if perms.item.delete_room %}
            <li>
              <a class="button" href="{{ room.get_delete_url }}">
                Delete Room
              </a>
            </li>
          {% endif %}
        </ul>
      </li>
    {% empty %}
     <li><em>There are currently no Rooms available.</em></li>
    {% endfor %}
  </ul>
  <ul class='buttons'>
    {% if perms.item.add_room %}
      <li><a class='new button' href="{% url 'room_create' %}">New Room</a></li>
     {% endif %}
    {% if perms.item.add_place %}
      <li><a class='new button' href="{% url 'place_create' %}">New Place</a></li>
    {% endif %}
  </ul>
{% endblock %}
