{% extends parent_template|default:"item/base_item.html" %}

{% block title %}
  {{ block.super}} - Room list
{% endblock %}

{% block content%}
  <h2>Room List</h2>
  <ul>
   {% for room in room_list %}
      <li>
        <a href="{{ room.get_absolute_url }}">
          {{ room.name|title }}
        </a>
      </li>
    {% empty %}
     <li><em>There are currently no Rooms available.</em></li>
    {% endfor %}
  </ul>
  <a href="{% url 'room_create' %}">New Room</a>
  <a href="{% url 'place_create' %}">New Place</a>
{% endblock %}
