{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Find It!
      {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|BenchNine|La+Belle+Aurore" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'site/index.css' %}">
    <!-- [if IE] <script>
     src="https:/html5shiv.googlecode.com/svn/trunk/html5.js"
     </script> -->
  </head>
  <body>
    <div>
      <nav>
        <ul>
          {% if house %}
          <a href="{% url 'item_search' %}">
            <li>
              Find It!
            </li>
          </a>
          <a href="{{ house.get_room_list_url }}">
            <li>
              Rooms
            </li>
          </a>
          <a href="{% url 'place_list' %}">
            <li>
              Places
            </li>
          </a>
          <a href="{% url 'item_list' %}">
            <li>
              Things
            </li>
          </a>
          {% endif %}
          <a href="{% url 'about_site' %}">
            <li>
              About
            </li>
          </a>
        </ul>
      </nav>

      <header>
        <ul class='auth'>
          <a href="{% url 'dj-auth:profile' %}">
            <li>Choose a house</li>
          </a>
          {% if user.is_authenticated %}
          <a href="{% url 'dj-auth:logout' %}">
            <li>Log Out</li>
          </a>
          <a href="{% url 'dj-auth:pw_change' %}">
            <li>Change Password</li>
          </a>
          <a href="{% url 'dj-auth:disable' %}">
            <li>Disable Account</li>
          </a>
          {% else %}
          <a href="{% url 'dj-auth:create' %}">
            <li>Create Account</li>
          </a>
          <a href="{% url 'dj-auth:login' %}?next={{ request.path }}">
            <li>Login</li>
          </a>
          <a href="{% url 'dj-auth:resend_activation' %}">
            <li>Lost Activation Email</li>
          </a>
          {% endif %}
        </ul>
        <h1>
          Find It!
        </h1>
        <h2>Find All the things!</h2>
      </header>
      <aside>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </aside>
      <main>
        {% block content%}
          This is default content!
        {% endblock %}
      </main>
      <footer>
        <p>
          &copy; 2016 Rachel Stevens
        </p>
      </footer>
    </div>
  </body>
</html>
