{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Find It!
      {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|BenchNine" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'site/index.css' %}">
    <!-- [if IE] <script>
     src="https:/html5shiv.googlecode.com/svn/trunk/html5.js"
     </script> -->
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <a href="{% url 'item_search' %}">
            <li>
              Find It!
            </li>
          </a>
          <a href="{% url 'room_list' %}">
            <li>
              Rooms
            </li>
          </a>
          <a href="{% url 'place_list' %}">
            <li>
              Places
            </li>
          </a>
          <a href="{% url 'item_list' %}">
            <li>
              Things
            </li>
          </a>
        </ul>
      </nav>

      <header>
        <h1>
          Find It!
        </h1>
        <h2>Find All the things!</h2>
      </header>

      <main>
        {% block content%}
          This is default content!
        {% endblock %}
      </main>
      <footer>
        <p>
          &copy; 2016 Rachel Stevens
        </p>
      </footer>
    </div>
  </body>
</html>
